h1 {
  padding: 1rem 2rem;
  border-top: 3px dashed #000;
  border-bottom: 3px dashed #000;
  font-size: 30px;
}

h1:first-letter {
  font-size: 50px;
  color: #66CDAA;
}

dd {
    margin-inline-start: 0px;
}

.decorated-btn-update {
  color: white;
  background-color: #5CB85C;
  font-size: 12px;
  border-radius: 5px;
  border-bottom: solid 3px darkgreen;
  box-shadow: 3px 3px 3px gray;
  transition: 0.3s;
}

.decorated-btn-delete {
    color: white;
    background-color: #ff6347;
    font-size: 12px;
    border-radius: 5px;
    border-bottom: solid 3px #B22222;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
}

.click-down:active {
  transform: translateY(2px);
  border-bottom: none;
}

.decorated-btn-update:hover {
  background-color: #98fb98;
}

.decorated-btn-delete:hover {
  background-color: #FFB6C1;
}




